# Client asset directories
mods/
screenshots/
crash-reports/
saves/
export/
resourcepacks/
disabledMods/
TombManyGraves/
backups/

# Journeymap Data
journeymap/
journeymap/data/
journeymap/server/
journeymap/icon/

# Log outputs
logs/
*.log

# Client-side mod configs
config/splash.properties
config/InvTweaks.cfg
config/MouseTweaks.cfg
config/jei/worldSettings.cfg

# Other miscellaneous files
options.txt
BotaniaVars.dat
minecraftinstance.json
local.7z
knownkeys.txt
servers.dat
usernamecache.json
usercache.json
JAS.psd
