# Client asset directories
backups/
crash-reports/
disabledMods/
export/
mods/
resourcepacks/
saves/
screenshots/
TombManyGraves/

# Journeymap Data
journeymap/
journeymap/data/
journeymap/icon/
journeymap/server/

# Log outputs
logs/
*.log

# Build artifacts
SnorshCraft-*.zip

# Client-side mod configs
config/jei/worldSettings.cfg
config/InvTweaks.cfg
config/MouseTweaks.cfg
config/splash.properties

# Other miscellaneous files
options.txt
BotaniaVars.dat
minecraftinstance.json
local.7z
knownkeys.txt
servers.dat
usernamecache.json
usercache.json
JAS.psd
/dist

# IDE and Gradle
.idea
*.iml
*.ipr
*.iws
build
.gradle