mods/
screenshots/
logs/
journeymap/data/mp/
crash-reports/
*.log
journeymap/data/
saves/
journeymap/server/
usernamecache.json
usercache.json
JAS.psd
journeymap/icon/
export/
knownkeys.txt
servers.dat
journeymap/
resourcepacks/
disabledMods/
local.7z
TombManyGraves/
options.txt
BotaniaVars.dat
minecraftinstance.json
config/splash.properties
config/InvTweaks.cfg
config/MouseTweaks.cfg
backups/
config/jei/worldSettings.cfg
