# Configuration file

~CONFIG_VERSION: 0.1.0

world-1369488837 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=gps
    B:overlayEnabled=true
}


world-1429650382 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1431591077 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1879589280 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=anvil
    B:overlayEnabled=true
}


world-78688046 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=back
    B:overlayEnabled=true
}


world-877171676 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=Raw Bac
    B:overlayEnabled=true
}


world1855637915 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=villager
    B:overlayEnabled=true
}


world2603186 {
    # Give items instead of showing the recipe.
    B:cheatItemsEnabled=true

    # Hide and unhide items by clicking them in the item list.
    B:editEnabled=false
    S:filterText=crafting

    # Show the list of items next to open guis.
    B:overlayEnabled=true
}


world3556498 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world785103634 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=car
    B:overlayEnabled=true
}


world856609915 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


