# Configuration file

general {

    ##########################################################################################################
    # worldgen
    #--------------------------------------------------------------------------------------------------------#
    # Enable or disable World Generation
    ##########################################################################################################

    worldgen {
        B:"Disable the generation of Grass"=false
        B:"Disable the generation of Vanilla Flowers"=false
        B:"Disable the generation of the Rock Salt"=true
    }

}


